In [4]:
import pandas_datareader.wb as wb
result = wb.search(string='SE.PRM.TENR', field='id')

result.iloc[:,:2]

                   id                                               name
10344     SE.PRM.TENR  Adjusted net enrollment rate, primary (% of pr...
10345  SE.PRM.TENR.FE  Adjusted net enrollment rate, primary, female ...
10346  SE.PRM.TENR.MA  Adjusted net enrollment rate, primary, male (%...

In [5]:
import pandas_datareader.wb as wb
result = wb.search(string='SE.PRM.TENR', field='id')
result

,id,name,unit,source,sourceNote,sourceOrganization,topics
10344,SE.PRM.TENR,"Adjusted net enrollment rate, primary (% of pr...",,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education
10345,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female ...",,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education ; Gender
10346,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (%...",,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education ; Gender

In [9]:
result.iloc[:1,2:]

,unit,source,sourceNote,sourceOrganization,topics
10344,,World Development Indicators,Adjusted net enrollment is the number of pupil...,b'UNESCO Institute for Statistics (http://uis....,Education

In [7]:
result.iloc[0,:2]

id                                            SE.PRM.TENR
name    Adjusted net enrollment rate, primary (% of pr...
Name: 10344, dtype: object

In [8]:
result.iloc[0,1]

'Adjusted net enrollment rate, primary (% of primary school age children)'

In [10]:
result.loc[:,['name','source']]

,name,source
10344,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators
10345,"Adjusted net enrollment rate, primary, female ...",World Development Indicators
10346,"Adjusted net enrollment rate, primary, male (%...",World Development Indicators

In [11]:
result.loc[:,['name','source']]

,name,source
10344,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators
10345,"Adjusted net enrollment rate, primary, female ...",World Development Indicators
10346,"Adjusted net enrollment rate, primary, male (%...",World Development Indicators

In [13]:
result.iloc[:,[2,3,5]]

,unit,source,sourceOrganization
10344,,World Development Indicators,b'UNESCO Institute for Statistics (http://uis....
10345,,World Development Indicators,b'UNESCO Institute for Statistics (http://uis....
10346,,World Development Indicators,b'UNESCO Institute for Statistics (http://uis....

In [14]:
result.loc[[10344],['name','source']]

,name,source
10344,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators

In [16]:
result.loc[[10344,10346],['name','source']]

,name,source
10344,"Adjusted net enrollment rate, primary (% of pr...",World Development Indicators
10346,"Adjusted net enrollment rate, primary, male (%...",World Development Indicators