In [1]:
import pandas as pd
import numpy as np

pd1 = pd.DataFrame(np.random.randn(6, 7),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 7, 1)))
pd1

           0         1         2         3         4         5         6
0  -0.524676  2.146053  0.520298  0.553161  0.912173 -0.104242  0.728720
2  -4.087396 -2.968313 -0.442070  0.095924  0.855202 -0.865368  0.947603
4  -0.780179  0.352673 -1.900554 -0.509736  1.038419 -1.008598  0.138226
6  -1.514605  0.614441  0.797281 -0.046487  1.255911 -0.703685  0.677496
8  -0.177805 -0.848025  0.402498 -0.122294  1.092214  0.226652 -1.123250
10  0.615649 -0.486320  0.935619  0.649644  0.132461  1.423458  1.315838

In [2]:
pd1.sum()

0   -6.469013
1   -1.189491
2    0.313072
3    0.620213
4    5.286379
5   -1.031783
6    2.684634
dtype: float64

In [5]:
pd1.sum(axis=1)

0     4.231486
2    -6.464417
4    -2.669749
6     1.080351
8    -0.550009
10    4.586350
dtype: float64

In [6]:
pd1.iloc[2,3]=np.NaN
pd1

           0         1         2         3         4         5         6
0  -0.524676  2.146053  0.520298  0.553161  0.912173 -0.104242  0.728720
2  -4.087396 -2.968313 -0.442070  0.095924  0.855202 -0.865368  0.947603
4  -0.780179  0.352673 -1.900554       NaN  1.038419 -1.008598  0.138226
6  -1.514605  0.614441  0.797281 -0.046487  1.255911 -0.703685  0.677496
8  -0.177805 -0.848025  0.402498 -0.122294  1.092214  0.226652 -1.123250
10  0.615649 -0.486320  0.935619  0.649644  0.132461  1.423458  1.315838

In [7]:
pd1.sum()

0   -6.469013
1   -1.189491
2    0.313072
3    1.129949
4    5.286379
5   -1.031783
6    2.684634
dtype: float64

In [8]:
pd1.sum(axis='columns')

0     4.231486
2    -6.464417
4    -2.160013
6     1.080351
8    -0.550009
10    4.586350
dtype: float64

In [9]:
pd1.sum(skipna=False)

0   -6.469013
1   -1.189491
2    0.313072
3         NaN
4    5.286379
5   -1.031783
6    2.684634
dtype: float64

In [10]:
pd1.sum(skipna=False,axis='columns')

0     4.231486
2    -6.464417
4          NaN
6     1.080351
8    -0.550009
10    4.586350
dtype: float64

In [11]:
pd1.idxmax(),pd1.idxmin()

(0    10
 1     0
 2    10
 3    10
 4     6
 5    10
 6    10
 dtype: int64,
 0     2
 1     2
 2     4
 3     8
 4    10
 5     4
 6     8
 dtype: int64)

In [12]:
pd1.cumsum()

           0         1         2         3         4         5         6
0  -0.524676  2.146053  0.520298  0.553161  0.912173 -0.104242  0.728720
2  -4.612072 -0.822259  0.078228  0.649086  1.767374 -0.969610  1.676323
4  -5.392251 -0.469587 -1.822326       NaN  2.805794 -1.978209  1.814549
6  -6.906856  0.144854 -1.025046  0.602599  4.061704 -2.681893  2.492045
8  -7.084662 -0.703171 -0.622548  0.480305  5.153919 -2.455241  1.368795
10 -6.469013 -1.189491  0.313072  1.129949  5.286379 -1.031783  2.684634

In [13]:
pd1.cummax()

           0         1         2         3         4         5         6
0  -0.524676  2.146053  0.520298  0.553161  0.912173 -0.104242  0.728720
2  -0.524676  2.146053  0.520298  0.553161  0.912173 -0.104242  0.947603
4  -0.524676  2.146053  0.520298       NaN  1.038419 -0.104242  0.947603
6  -0.524676  2.146053  0.797281  0.553161  1.255911 -0.104242  0.947603
8  -0.177805  2.146053  0.797281  0.553161  1.255911  0.226652  0.947603
10  0.615649  2.146053  0.935619  0.649644  1.255911  1.423458  1.315838

In [14]:
pd1.describe()

              0         1         2         3         4         5         6
count  6.000000  6.000000  6.000000  5.000000  6.000000  6.000000  6.000000
mean  -1.078169 -0.198248  0.052179  0.225990  0.881063 -0.171964  0.447439
std    1.632222  1.711034  1.070976  0.353195  0.392912  0.913493  0.860116
min   -4.087396 -2.968313 -1.900554 -0.122294  0.132461 -1.008598 -1.123250
25%   -1.330999 -0.757599 -0.230928 -0.046487  0.869444 -0.824947  0.273044
50%   -0.652428 -0.066824  0.461398  0.095924  0.975296 -0.403963  0.703108
75%   -0.264523  0.548999  0.728035  0.553161  1.078766  0.143929  0.892882
max    0.615649  2.146053  0.935619  0.649644  1.255911  1.423458  1.315838